/*General Settings*/
body {
  background-color: #0e1324;
}

footer {
  background-color: #222222;
}

.copyright-footer{
  text-align: center;
  color: #aaaaaa;
}

.mosaic {
  margin-top: 30px;
}

.mosaic img {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * Mobile Styling
 */
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00ccff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00ccff;
    background-color: #d91b5e;
  }
} /* Mobile Styling */
