/*General Settings*/
body {
  background-color: #0e1324;
}

footer {
  background-color: #222222;
}

.copyright-footer p{
  text-align: center;
  color: #aaaaaa;
  margin-bottom: 0;
}

.mosaic {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mosaic img {
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

h1.top-description {
  text-align: center;
  font-size: 1.5em;
  color: #dddddd;
  font-style: italic;
}

h2.top-description {
  text-align: center;
  font-size: 1.5em;
  color: #d91a5e;
  font-style: italic;
}

.Favicons {
  text-align: center;;
}

.Favicons a:hover
{
  padding-bottom: 17px;
  border-bottom: 4px solid #00ffcc;
}

.content-h1 {
  font-size: 2em;
  color: #FFFFFF;
}

.team-text pre {
  color: #ffffff;
  font-size: 1em;
  background-color: #0e1324;
  border-width: 0;
}

.team-text pre a {
  color: #d91a5e;
  text-decoration: underline;
}

/*
 * Mobile Styling
 */
@media (max-width: 767px) {

} /* Mobile Styling */
